.user-data {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../fondo.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

.user-data {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.user-data button {
  background-color:  #ebbc01;
  color: rgb(48, 99, 180);
  border:  rgb(48, 99, 180);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.user-data button:hover {
  background-color: #ffcd06;
}

.error-text {
  color: red;
}
